.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #777;
}

.tool {
  display: inline-block;
  padding: 10px;
}

.tool button {
  width: 60px;
  height: 60px;
}
