.progress {
  margin-top: 10px;
  margin-bottom: 10px;
}

.description ul {
  list-style-type: none;
}

.description li {
  margin-bottom: 10px;
}

.title {
  font-size: 1.5em;
  font-weight: semi-bold;
  margin-bottom: 20px;
}

.wordInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wordInfo .translation {
  font-size: 1.5em;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #777;
  border-style: dotted;
  padding: 5px;
}

.trainingOptions {
  list-style: none;
}

.trainingOptions li {
  margin-bottom: 10px;
}

.trainingOptions li button {
  width: 200px;
}
