.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 0 auto;
  border: 1px solid #777;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
    color: #fff;
    text-decoration: none;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #777;
}

.tool {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tool .pure-button {
  margin: 0 5px;
  min-width: 80px;
  height: 80px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.pure-button {
  border: 1px solid #777 !important;
}

.finish-button {
  margin-top: 10px;
  margin-bottom: 20px;
}
